build/
openvpn/libs/
openvpn/ovpnlibs/
openvpn/obj/
openvpn/.cxx/
.DS_Store
.navigation
google-breakpad/
ovpn3/boost
polarssl
local.properties
proguard-project.txt
build.xml
cache.properties
.gradle

# User-specific configurations
.idea
*.iml
*.apk
*hprof
*.aab

openvpn/openvpn3

openvpn/src/ovpn3/java/net/openvpn/ovpn3
openvpn/.externalNativeBuild
openvpn/.cxx
